<div class="container mt-4">
  <table class="table">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Asset Type</th>
        <th scope="col">Comment</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @make_models.each do |make_model| %>
        <tr class="text-center">
          <td><%= make_model.make %></td>
          <td><%= make_model.model %></td>
          <td><%= all_asset_types.find(make_model.asset_type_id).asset_type %></td>
          <td><%= make_model.comment %></td>
          <td><%= link_to "View", make_model_path(id: make_model.id), class: "btn btn-success" %></td>
          <% if is_authorized? %>
            <td><%= link_to "Edit", edit_make_model_path(id: make_model.id), class: "btn btn-info" %></td>
            <td><%= link_to "Delete", make_model_path(id: make_model.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>