<div class="container mt-4", style="height: 500px;overflow: scroll">
  <table class="table table-sm">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">Emp Name</th>
        <th scope="col">Emp Code</th>
        <th scope="col">Designation</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email ID</th>
        <th scope="col">Emp Joining Date</th>
        <th scope="col">Department</th>
        <th scope="col">Location</th>
        <th scope="col">Hostname</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Serial Number</th>
        <th scope="col">Asset Type</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @employee_assets.each do |employee_asset| %>
        <tr class="text-center">
          <td><%= employee_asset.employee.emp_name %></td>
          <td><%= employee_asset.employee.emp_code %></td>
          <td><%= employee_asset.employee.designation %></td>
          <td><%= employee_asset.employee.contact %></td>
          <td><%= employee_asset.employee.email %></td>
          <td><%= employee_asset.employee.emp_joining_date %></td>
          <td><%= employee_asset.employee.department.department %></td>
          <td><%= employee_asset.employee.location.location %></td>
          <td><%= employee_asset.enterprise_asset.hostname %></td> 
          <td><%= employee_asset.enterprise_asset.make_model.make %></td> 
          <td><%= employee_asset.enterprise_asset.make_model.model %></td> 
          <td><%= employee_asset.enterprise_asset.make_model.asset_type.asset_type %></td> 
          <td><%= link_to "View", employee_asset_path(id: employee_asset.id), class: "btn btn-success" %></td>
          <% if is_authorized? %>
            <td><%= link_to "Edit", edit_employee_asset_path(id: employee_asset.id), class: "btn btn-info" %></td>
            <td><%= link_to "Delete", employee_asset_path(id: employee_asset.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>