<h1 class="text-center mt-4">Employee Asset Details</h1>
<div class="container text-white text-center">
  <div class="jumbotron">
    <p>Emp Name: <%= @employee_asset.employee.emp_name %></p> 
    <p>Emp Code: <%= @employee_asset.employee.emp_code %></p> 
    <p>Designation: <%= @employee_asset.employee.designation %></p> 
    <p>Contact Number: <%= @employee_asset.employee.contact %></p> 
    <p>Email ID: <%= @employee_asset.employee.email %></p> 
    <p>Emp Joining Date: <%= @employee_asset.employee.emp_joining_date %></p> 
    <p>Location: <%= @employee_asset.employee.location.location %></p>
    <p>Department: <%= @employee_asset.employee.department.department %></p>
    <p>Hostname: <%= @employee_asset.enterprise_asset.hostname %></p>
    <p>Serial Number: <%= @employee_asset.enterprise_asset.serial_number %></p>
    <p>Make: <%= @employee_asset.enterprise_asset.make_model.make %></p>
    <p>Model: <%= @employee_asset.enterprise_asset.make_model.model %></p>
    <p>Asset Type: <%= @employee_asset.enterprise_asset.make_model.asset_type.asset_type %></p>
    <p>
      <% if is_authorized? %>
        <%= link_to "Edit", edit_employee_asset_path(id: @employee_asset.id), class: "btn btn-info" %> 
        <%= link_to "Delete", employee_asset_path(id: @employee_asset.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
    </p>
  </div>
</div>